schedule==1.2.2
requests==2.32.5
PyPDF2==3.0.1
python-docx==1.2.0
beautifulsoup4==4.14.3
openpyxl==3.1.5
python-dotenv==1.2.1
anthropic
gspread
google-auth
fastapi==0.109.0
uvicorn==0.27.0
websockets>=10.4
wsproto==1.2.0
httptools>=0.5.0
uvloop>=0.14.0
watchfiles>=0.13
python-multipart==0.0.6
pandas==2.2.2
numpy==2.0.0
